$primary-color:   #284cb5;
$secondary-color: #333;
$background-color: #fcfcfc;

$on-palm:          768px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
