---
layout: main.njk
title: 'Maxim Van de Wynckel'
---

<div class="row">
  <div class="col-sm-2">
    <img src="/images/profile/maxim2.jpg" alt="Maxim Van de Wynckel" class="img-fluid rounded-circle">
  </div>
  <div class="col-sm-10 typography">
    <blockquote class="styled-blockquote">
    {% markdown %}
      Hello! My name is <span class="name me">Maxim Van de Wynckel</span>, a researcher at the Vrije Universiteit Brussel. I am a PhD candidate focusing on hybrid and indoor positioning, interoperability, linked data, and methods for discovering services. Read more [about me here](/about). 
      For a list of all my [academic publications, click here](/publications). I often write about my research or other projects
      in my [blog](/posts).
    {% endmarkdown %}
    </blockquote>
  </div>
  <div class="col-sm-5">

  </div>
</div>

<div class="row mt-3">
    <div class="col-sm-6 typography">
      <h1>Recent blog posts</h1>
      <a href="/posts">Read all posts ...</a>
      <ol reversed class="postlist">
      {% for post in collections.posts | reverse | head(3) %}
        <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
          <img class="postlist-image" alt="{{ post.data.title }}" src="{{ post.data.thumbnail }}"/>
          <div class="postlist-content">
            <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <span class="postlist-description">{{ post.data.excerpt }}</span>
          </div>
        </li>
      {% endfor %}
      </ol>
    </div>
    <div class="col-sm-6">
      <h1>Recent publications</h1>
      <a href="/publications">Read all publications ...</a>
      <ol reversed class="postlist">
      {% for post in collections.publications | reverse | head(3) %}
        <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}" itemscope itemtype="http://schema.org/ScholarlyArticle" data-type="{{ post.data.type }}">
          <meta itemprop="abstract" content="{{ post.data.content }}">
          <meta itemprop="headline" content="{{ post.data.title }}">
          <meta itemprop="datePublished" content="{{ post.date | htmlDateString }}T00:00:00Z">
          <img class="postlist-image" alt="{{ post.data.title }}" src="{{ post.data.thumbnail }}" itemprop="image"/>
          <div class="postlist-content">
            <a href="{{ post.url | url }}" class="postlist-link" itemprop="url">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            <span class="badge badge-{{ post.data.type }}">{{ post.data.type }}</span><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <span class="postlist-description" itemprop="description">{{ post.data.excerpt }}</span>
          </div>
          {% for author in post.data.authors %}
            <div itemprop="author" itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="{{ author.given }} {{ author.family }}">
              <meta itemprop="givenName" content="{{ author.given }}">
              <meta itemprop="familyName" content="{{ author.family }}">
              {% if author.given == "Maxim" and author.family == "Van de Wynckel" %}
                <meta itemprop="url" content="https://maximvdw.be/about/">
              {% endif %}
            </div>
          {% endfor %}
        </li>
      {% endfor %}
      </ol>
    </div>
</div>