---
layout: main.njk
title: 'Internal Presentations'
permalink: /presentaties-vo/
eleventyExcludeFromCollections: true
---

<div class="page-header">
    <div class="icon">
        <i class="fas fa-chalkboard fa-5x"></i>
    </div>
    <div class="description">
        {% markdown %}
        Overview of internal presentations.
        {% endmarkdown %}
    </div>
</div>

{% set sorted = presentations_vo | sort(attribute='date', reverse=true) %}
{% set grouped = sorted | groupby('year') %}

{% for year, items in grouped | sort(attribute='0', reverse=true) %}
<h2>{{ year }}</h2>
<ul class="teaching">
    {% for p in items %}
    <li itemscope itemtype="http://schema.org/PresentationDigitalDocument">
        <div class="year">
            <span class="start">{{ p.date }}</span>
        </div>
        <div class="details">
            <h2 itemprop="name">{{ p.title }}</h2>
            {% if p.description %}
            <p class="description" itemprop="description">{{ p.description }}</p>
            {% endif %}
            {% if p.slides %}
            <a href="{{ p.slides }}" class="btn btn-blue btn-icon" target="_blank" itemprop="url"><i class="fa fa-desktop"></i> View presentation</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
