---
layout: main.njk
title: 'Teaching'
eleventyNavigation:
  key: Teaching
  order: 4
---
<div class="page-header">
    <div class="icon">
        <i class="fas fa-chalkboard-teacher fa-5x"></i>
    </div>
    <div class="description">
        {% markdown %}
        I am currently a **full-time teaching assistant** at the Vrije Universiteit Brussel. I have taught several courses and supervised bachelor and master theses. Below you can find an overview of the courses I have taught and the theses I have supervised.
        In total, I have spend more than **4000 hours** teaching, preparing course material and supervising thesis students.
        {% endmarkdown %}
    </div>
</div>

<h2>Courses</h2>
<ul class="teaching">
    {% set sorted_courses = teaching.courses | sort(attribute='end', reverse=true) %}
    {% for course in sorted_courses %}
    <li itemscope itemtype="http://schema.org/Course">
        <div class="year">
            <span class="start">{{ course.start }}</span>
            <span class="end">{{ course.end }}</span>
        </div>
        <div class="details">
            <h2 itemprop="name">{{ course.course }}</h2><span class="code" itemprop="courseCode">{{ course.code }}</span>
            <span class="detail-line">
                <strong>Level:</strong> <span itemprop="educationalLevel">{{ course.level }}</span>
                <strong>Titular{% if course.titulars | length > 1 %}s{% endif %}:</strong>
                <ul class="supervisors">
                    {% for titular in course.titulars %}
                    <li><a class="person" rel="nofollow" href="{{ titular.url }}" itemprop="titular">{{ titular.name }}</a></li>
                    {% endfor %}
                </ul>
            </span>
            <p class="description" itemprop="description">{{ course.description }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

<h2>Supervised Bachelor and Master Theses</h2>
<ul class="teaching">
    {% for thesis in teaching.theses %}
    <li itemscope itemtype="http://schema.org/Thesis">
        <div class="year">
            <span class="start">{{ thesis.start }}</span>
            <span class="end">{{ thesis.end }}</span>
        </div>
        <div class="details">
            <h2 itemprop="name">{{ thesis.title }}</h2>
            <span class="detail-line">
                <strong>Student:</strong> <a class="person" rel="nofollow" href="{{ thesis.student.url }}" itemprop="author">{{ thesis.student.name }}</a>
                <strong>Supervisors:</strong>
                <ul class="supervisors">
                    {% for supervisor in thesis.supervisors %}
                    <li><a class="person" rel="nofollow" href="{{ supervisor.url }}" itemprop="supervisor">{{ supervisor.name }}</a></li>
                    {% endfor %}
                </ul>
            </span>
            <span class="detail-line"><strong>Grade:</strong> {{ thesis.grade }}</span>
            <span class="detail-line"><a href="{{ thesis.url }}" itemprop="url">More details ...</a></span>
        </div>
    </li>
    {% endfor %}
</ul>

