<footer>
    <div class="social">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-links">
                        <li><a href="{{ social.mastodon }}" rel="me" target="_blank"><i class="fab fa-mastodon"></i></a></li>
                        <li><a href="{{ social.github }}" rel="me" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="mailto:me@maximvdw.be"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="{{ social.twitter }}" rel="me" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; Copyright 2024 - 2025
    </div>
</footer>
