<footer>
    <div class="social">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-links">
                        <li><a href="{{ social.mastodon.url }}" rel="me" target="_blank"><i class="{{ social.mastodon.icon.class }}"></i></a></li>
                        <li><a href="{{ social.bluesky.url }}" rel="me" target="_blank"><i class="{{ social.bluesky.icon.class }}"></i></a></li>
                        <li><a href="{{ social.github.url }}" rel="me" target="_blank"><i class="{{ social.github.icon.class }}"></i></a></li>
                        <li><a href="mailto:me@maximvdw.be"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; Copyright 2025
    </div>
</footer>
