---
sitemap: false
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ personal.firstName }} {{ personal.lastName }} - Curriculum Vitae
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
    />
    <link
      href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book"
      rel="stylesheet"
    />
    <style>
      @page {
        size: A4;
        background: #ffffff;
        margin: 5mm;
        margin-top: 10mm;
        margin-bottom: 10mm;
      }

      * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }

      body {
        font-family: "ITC Avant Garde Gothic Std Book", sans-serif;
        line-height: 1.4;
        color: #333;
        margin: 0;
        background: #ffffff;
        padding: 5mm;
      }

    header {
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 10px;
      background-color: #ffffff;
      color: #284cb5;
      padding-left: 1em;
      padding-right: 1em;
      border-bottom: 2px solid #284cb5;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      clip-path: inset(0 0 -30px 0);
    }

      header .container {
        display: flex;
        justify-content: space-between;
      }

      header .container div:first-child {
        flex: 2;
      }
      header .container div:last-child {
        flex: 1;
      }

      header .links a {
        display: block;
      }

      header a {
        color: #284cb5;
        text-decoration: none;
      }

      header i {
        width: 1.2em;
        text-align: center;
      }

      header h1 {
        font-size: 2em;
        margin-bottom: 10px;
        text-align: center;
      }

      header p {
        margin: 0;
        font-size: 1em;
      }

      p {
        margin: 0;
      }

      section {
        margin-top: 1em;
        padding-left: 5mm;
        padding-right: 5mm;
      }

      h2 {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 5px;
        color: rgb(32, 38, 58);
        border-bottom: 2px solid rgb(32, 38, 58);
        padding-bottom: 3px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .date {
        flex: 0 0 100px;
        text-align: center;
        margin-left: 10px;
        color: #fff;
        background: rgb(32, 38, 58);
        padding: 2px 3px;
        border-radius: 3px;
        font-style: italic;
        font-size: 0.9em;
      }

      .content {
        flex: 1;
      }

      h3 {
        margin: 0;
        font-size: 1.2em;
        color: rgb(35, 65, 153);
        border-bottom: 1px solid rgb(35, 65, 153);
      }

      h4 {
        margin: 0;
        font-size: 1.1em;
        font-weight: 300;
        color: #284cb5;
      }

      strong {
        display: inline-block;
        font-weight: bold;
        color: rgb(17, 34, 83);
        margin-top: 3px;
      }

      .detail-line {
        display: block;
      }

      ul.names {
        list-style: none;
        display: inline-block;
        padding: 0;
      }

      ul.names li {
        display: inline;
      }

      ul.names li:not(:last-child)::after {
        content: ", ";
      }

      ul.names a.person {
        color: inherit;
        text-decoration: underline dotted;
      }

      @media screen {
        body {
          width: 210mm;
          margin: auto;
          background: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }
      @media print {
        body {
          padding: 0;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ personal.firstName }} {{ personal.lastName }}</h1>
      <div class="container">
        <div>
          <p>
            <i class="fas fa-map-marker-alt"></i> {{ personal.address.street }},
            {{ personal.address.postalCode }} {{ personal.address.city }}, {{
            personal.address.country }}
          </p>
          <p><i class="fas fa-envelope"></i> {{ personal.email.academic }}</p>
          <p>
            <i class="fas fa-globe"></i>
            <a href="https://maximvdw.be">maximvdw.be</a>
          </p>
          <p><i class="fas fa-mobile-alt"></i> {{ personal.phone.mobile }}</p>
        </div>
        <div>
          <p class="links">
            <a href="{{ social.orcid }}"
              ><i class="ai ai-orcid"></i> {{ social.orcid |
              replace("https://orcid.org/", "") }}</a
            >
            <a href="{{ social.linkedin }}"
              ><i class="fab fa-linkedin"></i> {{ social.linkedin |
              replace("https://linkedin.com", "") }}</a
            >
            <a href="https://github.com/Maximvdw"
              ><i class="fab fa-github"></i> github.com/Maximvdw</a
            >
          </p>
        </div>
      </div>
    </header>

    <section>
      <h2>Education</h2>
      <ul>
        {% for edu in education %}
        <li>
          <div class="content">
            <h4>{{ edu.degree }}</h4>
            <strong>{{ edu.university }}</strong> ({{ edu.location }}) {% if
            edu.grade %}
            <p><strong>Graduated with:</strong> {{ edu.grade }}</p>
            {% endif %} {% if edu.thesis %}
            <p><strong>Thesis:</strong> {{ edu.thesis.title }}</p>
            {% endif %}
          </div>
          <div class="date">
            {% if edu.graduation %}
            <span>{{ edu.graduation }}</span>
            {% else %}
            <span>{{ edu.start }} - {{ edu.end }}</span>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Experience</h2>
      <ul>
        {% for job in experience %}
        <li>
          <div class="content">
            <h4>{{ job.title }}</h4>
            <strong
              >{{ job.company.name }}{% if job.note %}
              <small>({{ job.note }})</small>{% endif %}</strong
            >
          </div>
          <div class="date">
            <span
              >{{ job.start }}{% if job.start != job.end %} - {{ job.end }}{%
              endif %}</span
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Publications</h2>
      <ul>
        {% set publications = collections.publications | reverse %} {% for pub
        in publications %}
        <li>
          <div class="content">
            {{ pub.data.excerpt | replace("Van de Wynckel, M.", "<strong
              >Van de Wynckel, M.</strong
            >") | safe }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Presentations</h2>
      <ul>
        {% set presentations = collections.presentations | reverse %} {% for
        presentation in presentations %}
        <li>
          <div class="content">
            <h4>{{ presentation.data.title }}</h4>
            <p>
              <strong>Venue:</strong> {{ presentation.data.venue.name }}, {{
              presentation.data.venue.location }}
            </p>
            <p>{{ presentation.data.excerpt }}</p>
          </div>
          <div class="date">
            <span>{{ presentation.data.date }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Teaching Experience</h2>
      <h3>Courses</h3>
      <ul>
        {% set sorted_courses = teaching.courses | sort(attribute='end',
        reverse=true) %} {% for course in sorted_courses %}
        <li>
          <div class="content">
            <h4>{{ course.course }} <small>({{ course.code }})</small></h4>
            <div class="detail-line">
              <strong>Level:</strong> <span>{{ course.level }}</span>
              <strong
                >Titular{% if course.titulars | length > 1 %}s{% endif
                %}:</strong
              >
              <ul class="names">
                {% for titular in course.titulars %}
                <li>{{ titular.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="date">
            <span>{{ course.start }} - {{ course.end }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h3>Supervised Theses</h3>
      <ul>
        {% for thesis in teaching.theses %}
        <li>
          <div class="content">
            <h4>{{ thesis.title }}</h4>
            <p><strong>Student:</strong> {{ thesis.student.name }}</p>
          </div>
          <div class="date">
            <span>{{ thesis.start }} - {{ thesis.end }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Academic Services</h2>
      <ul>
        {% for service in services %}
        <li>
          <div class="content">
            <h4>{{ service.task}} of the {{ service.name }}</h4>
            <p>{{ service.description }}</p>
          </div>
          <div class="date">
            <span
              >{{ service.start }}{% if service.start != service.end %} - {{
              service.end }}{% endif %}</span
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
