---
layout: main.njk
permalink: /cv/
eleventyNavigation:
  key: Curriculum Vitae
  order: 2
title: 'Curriculum Vitae'
---

<div class="row">
  <div class="col-sm-8">
    <section class="cv-section">
      <h1>Education</h1>
      <div class="education">
        {%- for entry in education %}
        <div class="education-item">
          <img src="{{ entry.icon }}" alt="{{ entry.university }} Logo" class="logo">
          <div class="details">
            <h3>{{ entry.university }}</h3>
            <h4>{{ entry.degree }} </h4>
            <div class="year">{{ entry.start }} - {{ entry.end }}</div>
            {% markdown %}
            {{ entry.description }}
            {% endmarkdown %}
          </div>
        </div>
        {%- endfor %}
      </div>
    </section>

    <section class="cv-section">
      <h1>Experience</h1>
      Next to the certifications and training listed [here](/certifications), I have the following degrees:
      <div class="employment">
        {%- for entry in experience %}
        <div class="employment-item">
          <img src="{{ entry.icon }}" alt="{{ entry.company }} Logo" class="logo">
          <div class="details">
            <h3>{{ entry.company }}</h3>
            <h4>{{ entry.title }}</h4>
            <div class="year">{{ entry.start }} - {{ entry.end }}</div>
          </div>
        </div>
        {%- endfor %}
      </div>
    </section>
  </div>
  <div class="col-sm-4">

  </div>
</div>
