@charset "utf-8";

@use "includes/variables";
@use "includes/normalize";
@use "includes/grid";
@use "includes/typography";
@use "includes/media";
@use "includes/margin";
@use "includes/pageheader";

@use "components/gallery";
@use "components/badge";
@use "components/cite";
@use "components/footer";
@use "components/navigation";
@use "components/posts";
@use "components/button";
@use "components/cv";
@use "components/filter";
@use "components/social";
@use "components/blockquote";

// Either import the header or the sidebar, not both
// @use "components/header";
@use "components/sidebar";

.main {
    overflow-x: auto;
}

body {
    display: flex;
    flex-flow: column;
}

#content {
    flex: 1 auto;
}

@media (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
}
