@charset "utf-8";

@use "includes/variables";
@use "includes/normalize";
@use "includes/grid";
@use "includes/typography";
@use "includes/media";
@use "includes/margin";

@use "components/cite";
@use "components/header";
@use "components/footer";
@use "components/navigation";
@use "components/posts";
@use "components/button";
@use "components/cv";
@use "components/filter";

.main {
    overflow-x: auto;
}

body {
    display: flex;
    flex-flow: column;
}

#content {
    flex: 1 auto;
}