
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Maxim Van de Wynckel - Cover Letter
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
    />
    <link
      href="https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book"
      rel="stylesheet"
    />
    <link
      href="/css/resume.css"
      rel="stylesheet"
    />
    <style>
        section {
            margin-top: 2rem;
        }
        section main {
            min-height: 500px;
            margin-bottom: 2rem;
            font-family: 'Georgia', serif;
        }
        b.title {
          width: 100%;
          padding-bottom: 1rem;
          display: inline-block;
        }
        b.title span {
          display: inline-block;
        }
    </style>
  </head>
  <body>
    <header>
      <img
        src="https://maximvdw.be/images/profile/maxim_2025.jpg"
        alt="Maxim Van de Wynckel"
        class="profile"
      />
      <h1>Maxim Van de Wynckel</h1>
      <div class="container">
        <div>
          <p>
            <i class="fas fa-map-marker-alt"></i> Invalidenlaan 178/5,
            1160 Oudergem, BE
          </p>
          <p><i class="fas fa-envelope"></i> me@maximvdw.be</p>
          <p>
            <i class="fas fa-globe"></i>
            <a href="https://maximvdw.be">maximvdw.be</a>
          </p>
          <p><i class="fas fa-mobile-alt"></i> +32 489 86 18 48</p>
        </div>
        <div>
        </div>
      </div>
    </header>

    <section>
      <b class="title"><span contenteditable="true" style="width: 100%">Regarding: Vacancy </span></b>
      <main contenteditable="true"></main>
    </section>
  </body>
</html>
