---
layout: main.njk
---

<div class="row">
  <div class="col-sm-3">
    <img src="{{ profile_image }}" alt="Maxim Van de Wynckel" class="img-fluid rounded-circle">
  </div>
  <div class="col-sm-9">
    {{ content | safe }}
  </div>
</div>

<h1>Contact</h1>
<div class="row">
  <div class="col-sm-6">
    <h2>Research</h2>
    <p>I am associated with the Vrije Universiteit Brussel. For any research related question, you can contact me using the contact details below.</p>
    <p><strong>Address</strong><br>
    Maxim Van de Wynckel (DINF)<br>
    Pleinlaan 2<br>
    1050 Elsene<br>
    Belgium</p>
    <p><strong>E-mail:</strong> <a href="mailto:maxim.van.de.wynckel@vub.be">maxim.van.de.wynckel@vub.be</a><br>
    <strong>Tel:</strong> +32 2 629 34 87<br>
    <strong>Website:</strong> <a href="https://wise.vub.ac.be/member/maxim-van-de-wynckel" target="_blank">https://wise.vub.ac.be/member/maxim-van-de-wynckel</a></p>
  </div>
  <div class="col-sm-6">
    <h2>Personal and Freelancing</h2>
    <p>I am available for limited freelancing opportunities</p>

    <p><strong>E-mail:</strong> <a href="mailto:maxim@mvdw-software.com">maxim@mvdw-software.com</a><br>
    <strong>Website:</strong> <a href="https://mvdw-software.com" target="_blank">https://mvdw-software.com</a></p>
  </div>
</div>
