---
layout: default.njk
---

<div class="container main" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <div class="row">
        <div class="col-sm-3">
            <nav class="navigation">
            {% for post in collections.portfolio %}
                <ul>
                    <li {% if page.url == post.url %}class="selected"{% endif %}>
                    <a href="{{ post.url }}" {% if page.url == post.url %}class="current"{% endif %}>{{ post.data.title }}</a>
                    </li>
                </ul>
            {% endfor %}
            </nav>
        </div>
        <div class="col-sm-9 typography">
            <h1 itemprop="headline">{{ title }}</h1>
            {{ content | safe }}

            {% if video %}
            {% include "video.njk" %}
            {% endif %}

           {% include "gallery.njk" %}
        </div>
    </div>
</div>
