---
layout: default.njk
---
<div class="container main" itemscope itemtype="http://schema.org/ScholarlyArticle">
    <meta itemprop="author" content="{{ author }}">
    <meta itemprop="citation" content="{{ excerpt }}">
    <meta itemprop="image" content="{{ thumbnail }}">
    <meta itemprop="datePublished" content="{{ date | htmlDateString }}T00:00:00Z">

    <div class="row">
        <div class="col-sm-3 mobile-hide">
            <nav class="navigation">
            {% for year, posts in collections.publications_year %}
                <h3>{{ year }}</h3>
                <ul>
                {% for post in posts | reverse %}
                    <li {% if page.url == post.url %}class="selected"{% endif %}>
                    <a href="{{ post.url }}" {% if page.url == post.url %}class="current"{% endif %}>{{ post.data.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </nav>
        </div>
        <div class="col-sm-9 typography">
            <h1 itemprop="headline">{{ title }}</h1>

            {% if pdf %}
            <a href="{{ pdf }}" class="btn btn-red btn-icon" data-title="Download paper PDF"><i class="fa fa-regular fa-file-pdf"></i></a>
            {% endif %}
            {% if presentation %}
            <a href="{{ presentation }}" class="btn btn-green btn-icon" data-title="Download presentation"><i class="fa fa-regular fa-file-powerpoint"></i></a>
            {% endif %}
            {% if video %}
            <a href="{{ video }}" class="btn btn-blue btn-icon" data-title="Download video"><i class="fa fa-regular fa-file-video"></i></a>
            {% endif %}
            {% if link %}
            <a href="{{ link }}" class="btn btn-yellow btn-icon"><i class="ai ai-{{ publisher }}"></i></a>
            {% endif %}
            {% if github %}
            <a href="{{ github }}" class="btn btn-grey btn-icon"><i class="fa fa-brands fa-github"></i></a>
            {% endif %}
            {% if website %}
            <a href="{{ website }}" class="btn btn-purple btn-icon"><i class="fa fa-globe"></i></a>
            {% endif %}
            <a href="#" class="btn btn-outline-primary btn-icon" onclick="showCitationDialog()"><i class="fa fa-quote-right"></i> Cite this</a>

            <div id="citation-dialog" class="citation-dialog">
                <div class="citation-dialog-content">
                    <span class="close" onclick="closeCitationDialog()">&times;</span>
                    <h2>Citation</h2>
                    <div class="tabs">
                        <button class="tablinks" onclick="openTab(event, 'APA')">APA</button>
                        <button class="tablinks" onclick="openTab(event, 'BibTeX')">BibTeX</button>
                    </div>
                    <div id="APA" class="tabcontent">
                        <pre id="apaCitation">{{ excerpt }}</pre>
                        <button class="copy-btn" onclick="copyToClipboard('apaCitation')">Copy</button>
                    </div>
                    <div id="BibTeX" class="tabcontent">
                        <pre id="bibtexCitation">{{ bibtex }}</pre>
                        <button class="copy-btn" onclick="copyToClipboard('bibtexCitation')">Copy</button>
                    </div>
                </div>
            </div>

            <h2>Authors</h2>
            <ul class="authors">
                {% for author in authors %}
                <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <meta itemprop="givenName" content="{{ author.given }}">
                    <meta itemprop="familyName" content="{{ author.family }}">
                    <span itemprop="name">{{ author.given }} {{ author.family }}</span>
                    {% if author.given == "Maxim" and author.family == "Van de Wynckel" %}
                        <meta itemprop="url" content="https://maximvdw.be/about/">
                        <span itemprop="name me">{{ author.given }} {{ author.family }}</span>
                    {% else %}
                        <span itemprop="name">{{ author.given }} {{ author.family }}</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

            <h2>Abstract</h2>
            <p class="abstract" itemprop="abstract">{{ content | safe }}</p>

            {% if video and show_video %}
            <h2>Video presentation</h2>
            <video width="100%" controls preload="auto" itemprop="video">
                <source src="{{ video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <h2>Paper</h2>
            {% endif %}

            {% if pdf %}
                <script src='/scripts/lib/webviewer/webviewer.min.js'></script>
                <div id='viewer' class="pdf-viewer" style="width: 100%; height: 600px; margin: 0 auto"></div>
                <script>
                WebViewer({
                    path: '/scripts/lib/webviewer',
                    licenseKey: 'Hw7fR9cVRfJEuOO8GEcp',
                    initialDoc: "{{ pdf }}",
                }, document.getElementById('viewer'));
                </script>
            {% endif %}
        </div>
    </div>
</div>
<script src="/scripts/publications.js"></script>