---
layout: default.njk
permalink: /publications/
title: 'Publications'
eleventyExcludeFromCollections: ["publications"]
eleventyNavigation:
  key: Publications
  order: 3
---
<div class="container main">
  <div class="row">
    <div class="col-sm-3 filter">
      <h3>Filter Publications</h3>
      <form id="filter-form">
        <div class="form-group">
          <label for="year-filter">Year</label>
          <select id="year-filter" class="form-control">
            <option value="">All</option>
            {% for year, posts in collections.publications_year %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="type-filter">Type</label>
          <select id="type-filter" class="form-control">
            <option value="">All</option>
            <option value="conference">Conference</option>
            <option value="poster">Poster</option>
            <option value="thesis">Thesis</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
      </form>
    </div>
    <div class="col-sm-9 typography">
      <h1>Publications</h1>
      <ol reversed class="postlist">
        {% for post in collections.publications | reverse %}
          <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}" itemscope itemtype="http://schema.org/ScholarlyArticle" data-type="{{ post.data.type }}">
            <input type="hidden" itemprop="abstract" value="{{ post.data.content }}">
            <input type="hidden" itemprop="headline" value="{{ post.data.title }}">
            <input type="hidden" itemprop="datePublished" value="{{ post.date | htmlDateString }}">
            <img class="postlist-image" alt="{{ post.data.title }}" src="{{ post.data.thumbnail }}" itemprop="image"/>
            <div class="postlist-content">
              <a href="{{ post.url | url }}" class="postlist-link" itemprop="url">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
              <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
              <span class="postlist-description" itemprop="description">{{ post.data.excerpt }}</span>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
<script src="/scripts/publications.js"></script>