---
layout: default.njk
permalink: /publications/
title: 'Publications'
eleventyExcludeFromCollections: ["publications"]
eleventyNavigation:
  key: Publications
  order: 3
---
<div class="container main">
  <div class="row">
    <div class="col-sm-12 typography">
      <div class="page-header">
        <div class="icon">
            <i class="fas fa-book fa-5x"></i>
          </div>
          <div class="description">
            {% markdown %}
            Here you can find an overview of all my publications, including papers, posters and other artefacts. Click on the publications to read more about them or to find supplemental material. For more information about my academic achievements,
            you can read more on the [profile page of my research lab](https://wise.vub.ac.be/member/maxim-van-de-wynckel) or the [research portal of my university](https://researchportal.vub.be/en/persons/maxim-van-de-wynckel).
            {% endmarkdown %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main">
  <div class="row">
    <div class="col-sm-3 filter">
      <h3>Filter Publications</h3>
      <form id="filter-form">
        <div class="form-group">
          <label for="year-filter">Since</label>
          <select id="year-filter" class="form-control">
            <option value="">All</option>
            {% for year, posts in collections.publications_year %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="type-filter">Type</label>
          <select id="type-filter" class="form-control">
            <option value="">All</option>
            <option value="conference">Conference</option>
            <option value="poster">Poster</option>
            <option value="thesis">Thesis</option>
            <option value="dataset">Dataset</option>
            <option value="tech-report">Technical report</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-sm-9 typography">
      <h1>Publications</h1>
      <ol reversed class="postlist">
        {% for post in collections.publications | reverse %}
          <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}" itemscope itemtype="http://schema.org/ScholarlyArticle" data-type="{{ post.data.type }}">
            <meta itemprop="abstract" content="{{ post.data.content }}">
            <meta itemprop="headline" content="{{ post.data.title }}">
            <meta itemprop="datePublished" content="{{ post.date | htmlDateString }}T00:00:00Z">
            <img class="postlist-image" alt="{{ post.data.title }}" src="{{ post.data.thumbnail }}" itemprop="image"/>
            <div class="postlist-content">
              <a href="{{ post.url | url }}" class="postlist-link" itemprop="url">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
              <span class="badge badge-{{ post.data.type }}">{{ post.data.type }}</span><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
              <span class="postlist-description" itemprop="description">{{ post.data.excerpt }}</span>
            </div>
            {% for author in post.data.authors %}
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="{{ author.given }} {{ author.family }}">
                <meta itemprop="givenName" content="{{ author.given }}">
                <meta itemprop="familyName" content="{{ author.family }}">
                {% if author.given == "Maxim" and author.family == "Van de Wynckel" %}
                  <meta itemprop="url" content="https://maximvdw.be/about/">
                {% endif %}
              </div>
            {% endfor %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
<script src="/scripts/publications.js?version={{ build.timestamp }}"></script>